.container {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.section {
  width: max-content;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  margin-top: 20px;
  margin-bottom: 20px;
}

.spaceLeft {
  margin-left: 30px;
}

@media (max-width: 500px) {
  .section {
    flex-direction: column;
    align-items: center;
  }

  .spaceLeft {
    margin-left: 0;
  }
}
