.wrapper {
  margin: auto;
  margin-top: 10vh;
  margin-bottom: 10vh;
  width: 80%;
  max-width: 700px;
}

.header {
  text-align: center;
}

.form {
  margin: auto;
  width: 90%;
}

.date {
  cursor: text;
}

.date::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

.error {
  min-height: 26px;
}

.btn {
  width: 100%;
  margin: auto;
  margin-top: 10px;
}

.btn:disabled {
  cursor: not-allowed;
  pointer-events: all;
}
