.container {
  margin-left: 15px;
}

.group {
  width: 80%;
  margin-bottom: 50px;
}

.inp {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.btn {
  margin-left: 10px;
}

.btn:disabled {
  cursor: not-allowed;
  pointer-events: all;
}
